@inherits ItemDialogBase<Author, Book>

<MudDialog>
    <DialogContent>
        <MudSimpleTable Dense Striped>
            <tbody>
                <tr>
                    <th class="align-end">@Author.Label[nameof(Item.Id)]:</th>
                    <td class="align-end" style="width: 90%;">@(Item.Id > 0 ? Item.Id : "新規追加")</td>
                </tr>
                <tr>
                    <th class="align-end">@Author.Label[nameof(Item.Name)]:</th>
                    <td>
                        @if (OnEdit) {
                            <MudGrid Spacing="0">
                                <MudItem xs="6">
                                    <MudTextField MaxLength="@(Item.GetMaxLength ("Name"))" @bind-Value="Item.Name" Label="Name" Variant="Variant.Text" FullWidth Required @ref="FocusTarget" />
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField MaxLength="@(Item.GetMaxLength ("AdditionalName"))" @bind-Value="Item.AdditionalName" Label="AdditionalName" Variant="Variant.Text" FullWidth />
                                </MudItem>
                            </MudGrid>
                        } else {
                            <span>@Item.Name</span>
                            @if (!string.IsNullOrEmpty(Item.AdditionalName)) {
                                <span>&nbsp;/&nbsp;@Item.AdditionalName</span>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th class="align-end">@Author.Label[nameof(Item.Description)]:</th>
                    <td>
                        @if (OnEdit) {
                            <MudTextField @bind-Value="Item.Description" Label="Description" Variant="Variant.Text" FullWidth Lines="5" />
                        } else {
                            <MudText Style="white-space: pre-wrap;">@Item.Description</MudText>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="align-end">@Author.Label[nameof(Item.Interest)]:</th>
                    <td>
                        @if (OnEdit) {
                            <MudSelect @bind-Value="Item.Interest" T="string" Label="Interest" Variant="Variant.Text">
                                @foreach (var item in Author.InterestOptions) {
                                    <MudSelectItem Value="item">@(item ?? "　")</MudSelectItem>
                                }
                            </MudSelect>
                        } else {
                            <MudText Style="white-space: pre-wrap;">@Item.Interest</MudText>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="align-end">@Author.Label[nameof(Item.Books)]:</th>
                    <td>
                        @if (OnEdit) {
                            <MudButton OnClick="OnEditRelatedItems" StartIcon="@Icons.Material.Filled.Edit"><MudText Typo="Typo.body1">@(string.Join (", ", Item.Books.OrderBy (a => a.Id).ToList ().ConvertAll (a => a.Title)))</MudText></MudButton>
                        } else {
                            <MudGrid Spacing="0">
                                @foreach (var book in Item.Books.OrderByDescending (b => b.PublishDate).OrderBy (b => b.Id).ToList ()) {
                                    <MudItem xs="12">
                                        <MudButton StartIcon="@Icons.Material.Filled.Book" OnClick="() => ChangeDialog (book)" Class="pa-0 ma-0 align-left" Variant="Variant.Text"><MudText Class="ma-0">@book.Title</MudText></MudButton>
                                    </MudItem>
                                }
                            </MudGrid>
                        }
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </DialogContent>
    <DialogActions>
        @if (OnEdit) {
            @if (IsError) {
                <MudItem xs="4">
                    <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Dense="true" Class="my-1">@ErrorReport</MudAlert>
                </MudItem>
                <MudSpacer />
            }
            <MudButton OnClick="CancelEdit" StartIcon="@Icons.Material.Filled.Cancel" Size="Size.Large">Cancel</MudButton>
            <MudButton OnClick="SaveAsync" Disabled="@(IsError || !Updated || isSaving)" StartIcon="@Icons.Material.Filled.Save" Size="Size.Large" Color="Color.Success">Save</MudButton>
        } else {
            @if (!IsNewItem) {
                <MudTooltip Text="著者を削除" Duration="1000">
                    <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.DeleteForever" OnClick="Delete" />
                </MudTooltip>
                <MudDivider Class="mx-5" Vertical FlexItem />
            }
            <MudSpacer />
            <MudTooltip Text="著者をストアで検索" Duration="1000">
                <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.Search" Href="@Item.StoreURL" Target="_blank" />
            </MudTooltip>
            <MudSpacer />
            <MudTooltip Text="著者を編集" Duration="1000">
                <MudFab Size="Size.Small" StartIcon="@Icons.Material.Filled.Edit" OnClick="StartEdit" />
            </MudTooltip>
        }
    </DialogActions>
</MudDialog>
